{% extends 'base.html.twig' %}

{% block title %}Asignatura{% endblock %}

{% block body %}
    <h1>Asignatura</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asignatura.id }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ asignatura.codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ asignatura.nombre }}</td>
            </tr>
            <tr>
                <th>NombreIngles</th>
                <td>{{ asignatura.nombreIngles }}</td>
            </tr>
            <tr>
                <th>Credects</th>
                <td>{{ asignatura.credects }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('asignatura_index') }}">back to list</a>

    <a href="{{ path('asignatura_edit', {'id': asignatura.id}) }}">edit</a>

    {{ include('asignatura/_delete_form.html.twig') }}
{% endblock %}
