{% extends 'base.html.twig' %}

{% block title %}Alumno Note List{% endblock %}

{% block body %}
    <h1>Alumno Notas List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NConvocatoria</th>
                <th>Fecha</th>
                <th>Nota</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% set sumnotas = 0 %}
        {% for nota in notas %}
            {% set sumnotas = sumnotas + nota.nota %}
            {% set backcolor = nota.nota >= 5 ? 'green' : '' %}
            {% set color = nota.nota >= 5 ? 'white' : '' %}
            
            <tr style="color: {{ color }}; background: {{ backcolor }}">
                <td>{{ nota.id }}</td>
                <td>{{ nota.nConvocatoria }}</td>
                <td>{{ nota.fecha ? nota.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ nota.nota }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        <tr><td>Notas average : {{  sumnotas / notas|length  }}<td></tr>
        </tbody>
    </table>

    <a href="{{ path('alumno_index') }}">back to Alumno list</a>

{% endblock %}
